.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__dJfZu {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-IetrMmzmQ8NCvL);
  display: flex;
  min-width: 0;
}
.freeBox__dJfZu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__dJfZu > :global(.__wab_flex-container) > *,
.freeBox__dJfZu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dJfZu > :global(.__wab_flex-container) > picture > img,
.freeBox__dJfZu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__m4S40 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__m4S40 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__m4S40 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__m4S40 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__m4S40 > :global(.__wab_flex-container) > *,
.columns__m4S40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__m4S40 > :global(.__wab_flex-container) > picture > img,
.columns__m4S40
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m4S40 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m4S40 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m4S40 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m4S40 > :global(.__wab_flex-container) > *,
  .columns__m4S40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__m4S40 > :global(.__wab_flex-container) > picture > img,
  .columns__m4S40
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__guM8I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__guM8I {
    width: 100%;
  }
}
.freeBox__hkBp0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__hkBp0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__hkBp0 > :global(.__wab_flex-container) > *,
.freeBox__hkBp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hkBp0 > :global(.__wab_flex-container) > picture > img,
.freeBox__hkBp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hkBp0 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hkBp0 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__cw39M {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__f7Hex {
  position: relative;
  text-align: left;
}
.bullet__yeIoz:global(.__wab_instance) {
  position: relative;
}
.bullet__ovwp:global(.__wab_instance) {
  position: relative;
}
.bullet__wfpC3:global(.__wab_instance) {
  position: relative;
}
.text___2I2Ct {
  position: relative;
  text-align: left;
}
.freeBox__yhCuc {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__yhCuc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__yhCuc > :global(.__wab_flex-container) > *,
.freeBox__yhCuc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yhCuc > :global(.__wab_flex-container) > picture > img,
.freeBox__yhCuc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yhCuc {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yhCuc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yhCuc > :global(.__wab_flex-container) > *,
  .freeBox__yhCuc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yhCuc > :global(.__wab_flex-container) > picture > img,
  .freeBox__yhCuc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__quCky:global(.__wab_instance) {
  position: relative;
}
.svg__rK14 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tvSqZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cFcWk:global(.__wab_instance) {
  position: relative;
}
.svg__yWc9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__m1Uq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___8SBEr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8SBEr {
    width: 100%;
  }
}
.img__qiRvo {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qiRvo > picture > img {
  object-fit: cover;
}
.img__qiRvo > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__f1IiO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__f1IiO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__f1IiO > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__f1IiO > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__f1IiO > :global(.__wab_flex-container) > *,
.columns__f1IiO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__f1IiO > :global(.__wab_flex-container) > picture > img,
.columns__f1IiO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1IiO {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1IiO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1IiO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1IiO > :global(.__wab_flex-container) > *,
  .columns__f1IiO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__f1IiO > :global(.__wab_flex-container) > picture > img,
  .columns__f1IiO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__pRlnz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pRlnz {
    width: 100%;
  }
}
.img__t5Bf8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__t5Bf8 > picture > img {
  object-fit: cover;
}
.img__t5Bf8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__awGb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__awGb {
    width: 100%;
  }
}
.freeBox___4KlGv {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___4KlGv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4KlGv > :global(.__wab_flex-container) > *,
.freeBox___4KlGv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4KlGv > :global(.__wab_flex-container) > picture > img,
.freeBox___4KlGv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4KlGv {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4KlGv > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__rb6Px {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__r3N4Q {
  position: relative;
  text-align: left;
}
.bullet___4H9J0:global(.__wab_instance) {
  position: relative;
}
.bullet__bqmO:global(.__wab_instance) {
  position: relative;
}
.bullet__vOx3R:global(.__wab_instance) {
  position: relative;
}
.text___8YVss {
  position: relative;
  text-align: left;
}
.freeBox__vvLx0 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__vvLx0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vvLx0 > :global(.__wab_flex-container) > *,
.freeBox__vvLx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vvLx0 > :global(.__wab_flex-container) > picture > img,
.freeBox__vvLx0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vvLx0 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vvLx0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vvLx0 > :global(.__wab_flex-container) > *,
  .freeBox__vvLx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vvLx0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__vvLx0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__ddl4O:global(.__wab_instance) {
  position: relative;
}
.svg__qS1Id {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qkpmM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___7W7L:global(.__wab_instance) {
  position: relative;
}
.svg__hhnx2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lWfDp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
